In [2]:
import pandas as pd
import numpy as np
import random

In [3]:
# Menentukan jumlah baris data dummy
num_rows = 100

# Daftar nama yang akan digunakan untuk pengisian acak
names = [
    'Aiden', 'Olivia', 'Liam', 'Emma', 'Noah', 'Ava', 'Sophia', 'Isabella', 'Mason', 'Mia',
    'James', 'Charlotte', 'Benjamin', 'Amelia', 'Elijah', 'Harper', 'Lucas', 'Evelyn', 'Alexander', 'Abigail',
    'Ethan', 'Emily', 'Henry', 'Elizabeth', 'Sebastian', 'Sofia', 'Jack', 'Avery', 'Owen', 'Ella',
    'Jackson', 'Scarlett', 'Mateo', 'Grace', 'Daniel', 'Chloe', 'Michael', 'Lily', 'Gabriel', 'Aubrey',
    'Carter', 'Zoe', 'Wyatt', 'Aria', 'Jayden', 'Hannah', 'John', 'Mila', 'Luke', 'Addison',
    'Levi', 'Eleanor', 'Isaac', 'Nora', 'David', 'Riley', 'Matthew', 'Penelope', 'Julian', 'Hazel',
    'Grayson', 'Luna', 'Leo', 'Layla', 'Jaxon', 'Ellie', 'Josiah', 'Stella', 'Christopher', 'Aurora',
    'Andrew', 'Natalie', 'Lincoln', 'Emilia', 'Thomas', 'Everly', 'Maverick', 'Leah', 'Caleb', 'Victoria',
    'Ryan', 'Madison', 'Asher', 'Lillian', 'Nathan', 'Paisley', 'Isaiah', 'Savannah', 'Charles', 'Skylar',
    'Thomas', 'Genesis', 'Eli', 'Naomi', 'Landon', 'Ariana', 'Miles', 'Elena', 'Adrian', 'Caroline'
]

# Membuat data dummy dengan kolom-kolom yang diperlukan
data = {
    'name': [random.choice(names) for _ in range(num_rows)],  # Nama balita dengan pengisian acak dari daftar
    'gender': np.random.choice(['male', 'female'], size=num_rows),
    'age': np.random.randint(6, 60, size=num_rows),  # Usia balita dalam bulan
    'body_weight': np.round(np.random.uniform(5, 20, size=num_rows), 1),  # Berat badan dalam kg
    'body_length': np.round(np.random.uniform(50, 110, size=num_rows), 1),  # Tinggi badan dalam cm
    'breastfeeding': np.random.choice(['Yes', 'No'], size=num_rows)  # Status menyusui
}

# Membuat DataFrame
df_dummy = pd.DataFrame(data)

# Menampilkan DataFrame
print(df_dummy.head())

        name  gender  age  body_weight  body_length breastfeeding
0      Riley    male   46          5.0         70.3            No
1    Charles  female   13         14.3         90.8           Yes
2      Caleb    male   29          9.6         80.0            No
3      Ethan  female   25          7.2        100.5            No
4  Sebastian  female   48         11.8         73.0           Yes

In [4]:
df_dummy.shape

(100, 6)

In [5]:
df_dummy = df_dummy.drop(columns=['name'])

In [6]:
print(df_dummy.head())

   gender  age  body_weight  body_length breastfeeding
0    male   46          5.0         70.3            No
1  female   13         14.3         90.8           Yes
2    male   29          9.6         80.0            No
3  female   25          7.2        100.5            No
4  female   48         11.8         73.0           Yes

In [7]:
df_dummy.to_csv('data_dummy_balita.csv', index=False)