In [2]:
import pandas as pd

In [3]:
data_stunt  = pd.read_csv('Stunting_Dataset.csv')
data_stunt.head()

,Gender,Age,Birth Weight,Birth Length,Body Weight,Body Length,Breastfeeding,Stunting
0,Male,17,3.0,49,10.0,72.2,No,No
1,Female,11,2.9,49,2.9,65.0,No,Yes
2,Male,16,2.9,49,8.5,72.2,No,Yes
3,Male,31,2.8,49,6.4,63.0,No,Yes
4,Male,15,3.1,49,10.5,49.0,No,Yes

In [4]:
data_stunt.shape

(10000, 8)

# Assessing Data

In [5]:
data_stunt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Gender         10000 non-null  object
 1   Age            10000 non-null  int64
 2   Birth Weight   10000 non-null  float64
 3   Birth Length   10000 non-null  int64
 4   Body Weight    10000 non-null  float64
 5   Body Length    10000 non-null  float64
 6   Breastfeeding  10000 non-null  object
 7   Stunting       10000 non-null  object
dtypes: float64(3), int64(2), object(3)
memory usage: 625.1+ KB

In [6]:
data_stunt.isna().sum()

Gender           0
Age              0
Birth Weight     0
Birth Length     0
Body Weight      0
Body Length      0
Breastfeeding    0
Stunting         0
dtype: int64

In [7]:
print("Duplicated: ", data_stunt.duplicated().sum())

Duplicated:  2427

In [8]:
data_stunt.drop_duplicates(inplace=True)

In [9]:
print("Duplicated: ", data_stunt.duplicated().sum())

Duplicated:  0

In [10]:
data_stunt.describe()

               Age  Birth Weight  Birth Length  Body Weight  Body Length
count  7573.000000   7573.000000   7573.000000  7573.000000  7573.000000
mean     14.886967      2.762208     49.084643     7.630648    69.120269
std       8.580291      0.297725      0.436202     1.762529     9.401527
min       6.000000      2.000000     48.000000     2.900000    49.000000
25%      10.000000      2.800000     49.000000     7.000000    65.000000
50%      13.000000      2.800000     49.000000     7.700000    69.000000
75%      16.000000      3.000000     49.000000     9.000000    72.200000
max      48.000000      3.100000     50.000000    10.500000    92.700000

In [11]:
data_stunt.shape

(7573, 8)

In [16]:
data_stunt.to_csv('dataset_bersih.csv', index=False)